$green-high: #569c79;
$green-medium: #8bc092;
$green-main: #c2dbaf;
$green-small: #dbecc0;
$blue-weak: #e7f6fe;
$blue-strong: #6b8094;
$text: #333333;
$dark: #202124;
$dark-medium: #2b000000;
$white: #ffffff;
$gray-small: #e7e7e9;
